<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>15</ApplicationRevision>
    <ApplicationVersion>3.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>R:\Kelan\Apps\Training Tracker\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\2016fs03\d$\Kelan\Apps\Training Tracker\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>\\2016fs03\d$\Kelan\Apps\Training Tracker\</InstallUrl>
    <ManifestCertificateThumbprint>CE7FDE1868F7E79E24F2E10DF0836A596047DF86</ManifestCertificateThumbprint>
    <ManifestKeyFile>EmployeeTrainingTracker_TemporaryKey.pfx</ManifestKeyFile>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ProductName>Training Tracker</ProductName>
    <SuiteName>Training Tracker</SuiteName>
    <History>True|2026-04-10T11:48:56.5705019Z||;True|2026-04-10T11:00:15.2056389+01:00||;True|2026-04-10T10:25:42.4396053+01:00||;True|2026-04-09T09:41:39.0791947+01:00||;True|2026-04-07T09:12:54.5403729+01:00||;True|2026-02-25T12:44:25.0804573+00:00||;True|2026-02-24T10:03:17.1755629+00:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>